---
layout: default
title: Protect - Cloud Native Protection
description: "Learn how GitLab protects your apps and infrastructure from security intrusions. View more here!"
canonical_path: "/stages-devops-lifecycle/protect/"
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
  - product.css
---

= partial "includes/stages/stage-page", locals: { solution: data.stages.stages.protect, solution_name: "protect" }
